*.ami
*.la
*.lo
*.m4
*.ybc
*.pot
.dep
.deps
.libs
package/*.bz2
stamp-h*
aclocal.m4
autodocs/
autodocs-*
autom4te.cache
config.*
configure
configure.ac
COPYING
COPYRIGHT.english
depcomp
doc/index.md
install-sh
libtool
ltconfig
ltmain.sh
Makefile
Makefile.am
Makefile.am.common
Makefile.in
missing
mkinstalldirs
OUTPUT
OUTPUT2
pluglib-bindings.ami
README
compile
yast2-ycp-ui-bindings.pc
src/UIBuiltinCalls.h
src/UIBuiltinTable.h
